<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../header') %>
    <title>เพิ่มข้อมูล</title> 
</head>
<body class="landing-page sidebar-collapse">
    <%- include('../navbar') %>
    <div class="wrapper">
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg6.jpg');">
        </div>
        <div class="content-center">
          <div class="container">
            <h1 class="title"><%= data %></h1>
          </div>
          <div class="buttons">
            <a href="/admin/blogs/" class="btn btn-primary">ย้อนกลับ</a>
          </div>
        </div>
      </div>
      <div class="alert alert-danger alert-dismissible fade" role="alert"
      style="position: fixed; bottom: 0; right: 10px;">
        แพ็กเกจไม่สามารถเกิน 8 ได้
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="section section-about">
        <div class="container">
            <form action="/admin/add" method="POST" class="needs-validation" enctype="multipart/form-data">
                <div class="wrapper">
                    <p class="mt-5">เลือกรูป head banner</p>
                    <div class="row mb-2 mt-2 text-center">
                        <div class="form-group py-2 col-4">
                            <img class="img-raised" src="/assets/img/bg3.jpg" alt="first pic" srcset="">
                            <div class="form-check mt-4"> 
                                <input type="radio" class="form-check-input" name="option" id="radio1" value="option1">
                                <label  for="radio1">Picture 1</label>
                            </div>
                        </div>  
                        <div class="form-group py-2 col-4">
                            <img class="img-raised" src="/assets/img/bg4.jpg" alt="" srcset="">
                            <div class="form-check mt-4">
                                <input type="radio" class="form-check-input" name="option" id="radio2" value="option2">
                                <label  for="radio2">Picture 2</label>
                            </div>
                        </div>   
                        <div class="form-group py-2 col-4">
                            <img class="img-raised" src="/assets/img/bg6.jpg" alt="" srcset="">
                            <div class="form-check mt-4">
                                <input type="radio" class="form-check-input" name="option" id="radio3" value="option3">
                                <label  for="radio3">Picture 3</label>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="row">
                    <div class="form-group py-2 col">
                        <p>Title</p>
                        <input type="text" name="title" class="form-control" required>
                    </div>
                    <div class="form-group py-2 col">
                        <p>Sub-title</p>
                        <input type="text" name="subtitle" class="form-control" id="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Upload Logo</p>
                        <input type="file" name="img_logo" accept='image/*' class="form-control-file" id="" required>
                    </div>
                    <div class="col">
                        <input type="checkbox" name="" id="banners_checkbox" class="form-check-input ml-0"> 
                        <p class="ml-4">ใช้ Slide banners</p>
                        <p class="form-label not-enb">Select Slide Banners (กรุณาใส่รูปภาพ 3 ภาพ)</p>
                        <input class="form-control-file mb-3 banners" name="img" id="banners" type="file" accept="image/*" multiple disabled="disabled">
                        <input type="checkbox" name="cardinfo" id="card-checkbox" class="form-check-input ml-0 mb-2 mt-2"> 
                        <p class="ml-4">เปิดใช้งาน Card-Info</ย><br>
                    </div>   
                </div> 
                <hr>
                <div class=" form-group py-2">
                    <p>รายละเอียดโปรโมชั่น</p>
                    <textarea name="promoDesc" id="summernote" cols="30" rows="10" required></textarea>
                </div>
                <div>
                    <p>รูปโปรโมชั่น</p>
                    <input type="file" name="promotionImg" accept='image/*' class="form-control-file" id="" required>
                </div>
                <hr>
                <div class="button">
                    <button type="button" class="btn btn-success addPackages " id="addPackages">เพิ่มแพ็กเกจ</button>
                    <hr>
                </div>
                <div id="dynamic_field" class="dynamic_field"></div>
                    
                    <div class="sumbit">
                        <input type="submit" class="btn btn-primary py-2 mb-3" name="" id="" value="บันทึก">
                    </div>
                </div>
                
            </div>
            
            </form>
        </div>
    </div>
</body>

<script src="/assets/js/core/jquery-3.6.0.min.js"></script>
<script src="/assets/js/summernote-lite.min.js"></script>
<script src="/assets/js/now-ui-kit.js?v=1.3.0" type="text/javascript"></script>
<script type="text/javascript">
      $('#summernote').summernote({
        placeholder: 'พิมพ์ข้อความ',
        tabsize: 2,
        height: 100,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'italic', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    $(document).ready(()=>{
        
        var i=0; //initial field count
        var max_field = 8;
        var wrapper = $(".dynamic_field");
        
        $('.addPackages').click(()=>{
            if(i < max_field){
                i++;
                $(wrapper).append('<div class="input_field" id="input_field">\
                    <div class="row" id="div"><div class="form-group py-2 col"><p>ชื่อแพ็กเกจ</p> \
                        <input type="text" name="packageName[]" class="form-control" required></div> \
                            <div class="form-group py-2 col"> \
                        <p>ราคาแพ็กเกจ</p> \
                        <input type="text" name="packagePrice[]" class="form-control" required> \
                    </div> \
                </div> \
                    <div class="form-group py-2 mb-2"> \
                            <p>รายละเอียดแพ็กเกจ</p> \
                            <input type="text" name="packageDesc[]" class="form-control" required> \
                    </div> \
                    <div> \
                            <p>Package Poster</p> \
                            <input type="file" name="packageImg" accept='+'image/*'+'multiple class="form-control-file" id="" required> \
                    </div> \
                    <button type="button" class="btn btn-danger removePackages" id="removePackages">ลบแพ็กเกจ</button> \
                    <hr></div>');
                
            }
            else{
                $(".alert").addClass("show")
                setTimeout(()=>{
                    $(".alert").removeClass("show")
                },3000)
            }
        });
        
        $('body').on('click','.removePackages',function(e){
            if(i>0){
            $(this).closest(".input_field").remove();
            i--
            console.log(i);
        }})
    })

    $(()=>{
        enable_cb();
        $("#banners_checkbox").click(enable_cb)
    });

    function enable_cb(){
        $('input.banners').prop("disabled", !this.checked);
        if(this.checked){
            $('p.form-label').removeClass('not-enb')
        }else $('p.form-label').addClass('not-enb')
    }

    $(document).scroll(()=>{
        var $nav = $('.fixed-top');
        var scroll = $(window).scrollTop();
        if (scroll >= 200){
            $nav.removeClass('navbar-transparent')
        }else{
            $nav.addClass('navbar-transparent')
        }
    })
    (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

</html>


